---
layout: default
title: Web and Mobile Game Landing Pages
body_class: case-study

slideshow_tyrant_mobile:
  - label: Tyrant Unleashed Mobile landing page
    image: images/full/tyrant-unleashed-mobile.jpg
    thumb: images/thumb/tyrant-unleashed-mobile.jpg

slideshow_gota:
  - label: Game of Thrones Ascent landing page
    image: images/full/game-of-thrones-ascent-1.jpg
    thumb: images/thumb/game-of-thrones-ascent-1.jpg

  - label: Game of Thrones Ascent landing page
    image: images/full/game-of-thrones-ascent-2.jpg
    thumb: images/thumb/game-of-thrones-ascent-2.jpg

  - label: Game of Thrones Ascent landing page
    image: images/full/game-of-thrones-ascent-3.jpg
    thumb: images/thumb/game-of-thrones-ascent-3.jpg

slideshow_adcap:
  - label: AdVenture Capitalist landing page
    image: images/full/adventure-capitalist.jpg
    thumb: images/thumb/adventure-capitalist.jpg

slideshow_throwdown:
  - label: Animation Throwdown landing page
    image: images/full/animation-throwdown-1.jpg
    thumb: images/thumb/animation-throwdown-1.jpg

  - label: Animation Throwdown landing page
    image: images/full/animation-throwdown-2.jpg
    thumb: images/thumb/animation-throwdown-2.jpg

slideshow_clash:
  - label: Clash of Dragons landing page
    image: images/full/clash-of-dragons-1.jpg
    thumb: images/thumb/clash-of-dragons-1.jpg

  - label: Clash of Dragons landing page
    image: images/full/clash-of-dragons-2.jpg
    thumb: images/thumb/clash-of-dragons-2.jpg

slideshow_loh:
  - label: Legacy of Heroes landing page
    image: images/full/legacy-of-heroes.jpg
    thumb: images/thumb/legacy-of-heroes.jpg

slideshow_rom:
  - label: Rise of Mythos landing page
    image: images/full/rise-of-mythos.jpg
    thumb: images/thumb/rise-of-mythos.jpg

slideshow_ga:
  - label: Global Assault landing page
    image: images/full/global-assault.jpg
    thumb: images/thumb/global-assault.jpg

slideshow_kot:
  - label: King of Towers landing page
    image: images/full/king-of-towers.jpg
    thumb: images/thumb/king-of-towers.jpg

slideshow_tyrant:
  - label: Tyrant Unleashed landing page
    image: images/full/tyrant-unleashed-1.jpg
    thumb: images/thumb/tyrant-unleashed-1.jpg

  - label: Tyrant Unleashed landing page
    image: images/full/tyrant-unleashed-2.jpg
    thumb: images/thumb/tyrant-unleashed-2.jpg
---

<article class="page studies">
  <header class="studies-header">
    <h1>
      <span>Case Study:</span>
      {{ page.title }}
    </h1>
    <dl class="studies-tools">
      <dt class="studies-tools__label">Software Used</dt>
      <dd class="studies-tools__set">
        <ul class="studies-tools__list">
          <li class="studies-tools__item">Adobe Photoshop</li>
          <li class="studies-tools__item">Adobe XD</li>
        </ul>
      </dd>
      <dt class="studies-tools__label">Languages Used</dt>
      <dd class="studies-tools__set">
        <ul class="studies-tools__list">
          <li class="studies-tools__item">HTML</li>
          <li class="studies-tools__item">CSS</li>
          <li class="studies-tools__item">JavaScript</li>
        </ul>
      </dd>
    </dl>
  </header>
  <div class="studies-info">
    <p>
      At Kongregate, we often ran user acquisition campaigns for games we had
      revenue share or publishing deals with. These campaigns would rely on
      off-site and on-site advertisements to send people to our landing pages in
      order to convert them into active users.
    </p>
    <p>
      We would be provided with a folder of potential assets&mdash;copy, key
      art, fonts, game assets, any trailers, etc.&mdash;and it would be our job
      to choose appropriate imagery, composite that imagery together, work with
      stakeholders to adjust any copy and work with marketing to design what
      aspect of each page we would test that round.
    </p>
    <p>
      The nature and content of these pages changed quite a lot over the years.
      Initially we put as much content as we could on them including
      screenshots, marketing blurbs, any trailer we might have, etc. But over
      time, and constant split-testing, we learned that less was more. Key art
      was far more important than any other content, copy was basically ignored
      and the best converting form (by a wide margin) was a condensed stepped
      registration form.
    </p>
  </div>
  <section class="studies-media">
    <h2 class="h3 studies-media__title">Tyrant Unleashed mobile</h2>
    {% include slideshow.html slides=page.slideshow_tyrant_mobile %}
  </section>
  <section class="studies-media">
    <h2 class="h3 studies-media__title">Game of Thrones Ascent</h2>
    {% include slideshow.html slides=page.slideshow_gota %}
  </section>
  <section class="studies-media">
    <h2 class="h3 studies-media__title">AdVenture Capitalist</h2>
    {% include slideshow.html slides=page.slideshow_adcap %}
  </section>
  <section class="studies-media">
    <h2 class="h3 studies-media__title">
      Animation Throwdown: The Quest for Cards
    </h2>
    {% include slideshow.html slides=page.slideshow_throwdown %}
  </section>
  <section class="studies-media">
    <h2 class="h3 studies-media__title">Clash of the Dragons</h2>
    {% include slideshow.html slides=page.slideshow_clash %}
  </section>
  <section class="studies-media">
    <h2 class="h3 studies-media__title">Legacy of Heroes</h2>
    {% include slideshow.html slides=page.slideshow_loh %}
  </section>
  <section class="studies-media">
    <h2 class="h3 studies-media__title">Rise of Mythos</h2>
    {% include slideshow.html slides=page.slideshow_rom %}
  </section>
  <section class="studies-media">
    <h2 class="h3 studies-media__title">Global Assault</h2>
    {% include slideshow.html slides=page.slideshow_ga %}
  </section>
  <section class="studies-media">
    <h2 class="h3 studies-media__title">The King of Towers</h2>
    {% include slideshow.html slides=page.slideshow_kot %}
  </section>
  <section class="studies-media">
    <h2 class="h3 studies-media__title">Tyrant Unleashed</h2>
    {% include slideshow.html slides=page.slideshow_tyrant %}
  </section>
</article>
