---
---

@-ms-viewport{
  width: device-width;
}
* { box-sizing: border-box; margin: 0; padding: 0; }
body { background-color: rgba(0, 0, 0, 0.03); color: rgba(0, 0, 0, 0.6); font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 600; letter-spacing: .05em; line-height: 20px; }
section { margin: 60px auto; max-width: 1280px; padding: 0 40px; }
footer p { color: #ccc; font-size: 10px; font-weight: 200; margin: 40px 0 60px; text-align: center; }
footer em { font-family: Baskerville, serif; font-size: 14px; font-weight: 200; }
h2 { background-color: #eee; border-radius: 4px; color: #5c9ddc; font-size: 10px; margin-bottom: 15px; padding: 6px; text-align: center; text-transform: uppercase;
  a { background-image: linear-gradient(to bottom, transparent 94%, #5c9ddc 94%); color: inherit; font-style: italic; font-weight: 200; margin: 0 2px; text-decoration: none; text-transform: none; }
}
ul:after { clear: both; content: ''; display: table; }
li { float: left; list-style: none; padding: 2px; transition: width 0.09s ease-in-out; width: 20%; }
li a { background-position: 7px 50%; background-repeat: no-repeat; background-size: auto 16px; color: inherit; display: block; font-weight: 200; overflow: hidden; padding: 6px 6px 6px 28px; position: relative; text-decoration: none; text-overflow: ellipsis; transition: background-color 100ms ease-in-out; width: 100%; white-space: nowrap; }
li a:hover { background-color: #fefefe; border-radius: 4px; box-shadow: 0 0 1px #ddd; }

@media (max-width: 1080px) {
  li { width: 25%; }
}

@media (max-width: 860px) {
  li { width: 33%; }
}

@media (max-width: 660px) {
  li { width: 50%; }
}

@media (max-width: 480px) {
  section { margin: 10px 0; }
  section:last-child { margin-bottom: 20px; }
  ul { padding: 0 20px; }
  li { width: 100%; }
}
