$curve: cubic-bezier(.4, 0, .6, 1);

// Colors
$purple-dark: #2e1b55;
$purple-darker: #180e2f;
$purple-light: #989cff;
$purple-lighter: #c09aff;

$tan-lightest: #f6f6e1;

// Font Families
$jost: 'Jost', Helvetica, Arial, sans-serif;
$playfair: 'Playfair Display SC', 'Baskerville', Times, serif;
